
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      background-color: #fff;
      padding: 0;
      direction: ltr;
    }

    h1 {
      text-align: center;
      color: #333;
      font-size: 28px;
      margin-bottom: 20px;
    }

    #ayahs {
      padding: 20px;
    }

    .ayah-container {
      margin-bottom: 25px;
    }

    .ayah-container div {
      margin-bottom: 5px;
    }

    .ayah-container p {
      font-size: 20px;
      line-height: 1.6;
      margin: 0;
      font-family: 'Traditional Arabic', serif;
    }

    .ayah-container p.arabic {
      font-size: 39px;
      font-family: 'Amiri', serif;
      direction: rtl;
    }

    .ayah-container p.english,
    .ayah-container p.urdu {
      font-size: 13px;
      font-family: 'Tahoma', sans-serif;
      color: #555;
    }

    .ayah-container hr {
      border: 1px solid #ccc;
      margin: 10px 0;
    }

    .navigation {
      text-align: center;
      margin-top: 20px;
    }

    button {
      padding: 10px 15px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background-color: #45a049;
    }

    .settings-container {
      position: fixed;
      top: 0;
      right: -100%;
      width: 300px;
      height: 100%;
      background-color: #f9f9f9;
      box-shadow: -4px 0 6px rgba(0, 0, 0, 0.3);
      padding: 20px;
      transition: right 0.3s ease;
      z-index: 1000;
    }

    .settings-container.show {
      right: 0;
    }

    label {
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
      color: #333;
    }

    .select-container {
      width: 100%;
      margin: 10px 0;
    }

    select {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      cursor: pointer;
    }

    .settings button {
      margin-top: 10px;
      background-color: #007BFF;
    }

    .settings button:hover {
      background-color: #0056b3;
    }

    .settings-button {
      position: fixed;
      top: 10px;
      right: 10px;
      background-color: #007BFF;
      padding: 10px 15px;
      border-radius: 50%;
      color: white;
      border: none;
      cursor: pointer;
      z-index: 1001;
    }

    .settings-button:hover {
      background-color: #0056b3;
    }

    .settings-button i {
      font-size: 20px;
    }
