/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Header */
header {
  background-color: #2a9d8f;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

/* Settings Icon */
#settings-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

/* Settings Panel */
.settings-panel {
  position: fixed;
  top: 0;
  right: -100%; /* Hidden initially */
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-left: 3px solid #2a9d8f;
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: right 0.3s ease;
}

.settings-panel.open {
  right: 0; /* Show the panel */
}

#close-settings {
  align-self: flex-end;
  font-size: 25px;
  color: #2a9d8f;
}

select {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

select:disabled {
  background-color: #f4f4f4;
}

button {
  background-color: #2a9d8f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Content Section */
.content {
  padding: 8px;
  max-width: 900px;
  margin: 50px auto;
  border-radius: 1px;
  min-height: 100vh;
  overflow-y: auto;
}

/* Quranic Verse Styling */
.ayah-container {
  padding: 5px;
  border-bottom: 2px solid #000; /* Solid line between verses */
  margin-bottom: 1px;
}

.text {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 1px;
}

/* Remove line between translations */
.language {
  margin-top: 1px;
  padding-top: 1px;
}

.language .language {
  font-weight: bold;
  margin-top: 1px;
}

/* Responsiveness */
@media (max-width: 768px) {
  header {
    font-size: 20px;
  }

  #settings-icon {
    font-size: 25px;
  }

  .content {
    padding: 20px;
  }
}
