
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body, h1,h2, h3, h4, h5, h6, p, a, li{
    font-family: "Poppins", serif;
   
}

    .tweet-wrapper {
        flex: 0 0 auto; /* Prevent tweets from stretching */
        width: 350px; /* Fixed width for each tweet */
        height: 500px; /* Fixed height */
        overflow: hidden; /* Hide overflow to maintain ratio */
        border: 1px solid #C425E5;
        border-radius: 8px;
        padding: 10px;
        box-sizing: border-box; /* Include padding in dimensions */
    }

    .tweet-wrapper iframe {
        transform: scale(0.85); /* Adjust scale to fit content */
        transform-origin: top left;
    }

