
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body, h1,h2, h3, h4, h5, h6, p, a, li{
    font-family: "Poppins", serif;
   
}

/* Make the text invisible but keep icons */
.social-icon a {
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.social-icon a span {
    visibility: hidden; /* Makes the text invisible */
}

/* Responsive grid setup */
.grid {
    display: grid;
    gap: 20px;
}

@media (min-width: 640px) {
    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }
}

@media (min-width: 768px) {
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
}

@media (min-width: 1024px) {
    .lg\:grid-cols-6 {
        grid-template-columns: repeat(6, 1fr); /* 6 columns on large screens */
    }
}

/* Style for icons */
.social-icon i {
    font-size: 2rem;
    color: white;
}
